<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>Issue Tracker - {{product}}</title>

    <link href="{{root_url}}/stylesheets/level1css.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="{{root_url}}/stylesheets/level2css.css" media="screen" rel="stylesheet" type="text/css" />

<!--    <script src="https://a248.e.akamai.net/assets.github.com/assets/frameworks-ac63e4a1fc7b5030f8c99d5200722f51ed8e7baa.js" type="text/javascript"></script>
    <script defer="defer" src="https://a248.e.akamai.net/assets.github.com/assets/github-b4c07f78e6c6bbda967b3071f067d7fe7587ab18.js" type="text/javascript"></script> -->
<!--  <link href="https://github.com/mcneel/rhinocommon/commits/master.atom" rel="alternate" title="Recent Commits to rhinocommon:master" type="application/atom+xml" /> -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#project_button").click(function () { $("#project_button").next().toggle(); });
            $("#project_button").next().find("a").click(function () { $("#project_button").next().toggle(); });

            $("#tag_button").click(function () { $("#tag_button_dlg").toggle(); });
            $("#tag_button_dlg a").click(function () { $("#tag_button_dlg a").toggle(); });

            $("#release_target_button").click(function () { $("#release_target_button").next().toggle(); });
            $("#release_target_button").next().find("a").click(function () { $("#release_target_button").next().toggle(); });
        });
    </script>
  </head>

  <body>
    <div class="site">
      <div class="container">
        <div class="tabnav">
          <div class="tabnav-right">
            <div class="tabnav-widget search ">
              <form accept-charset="UTF-8" action="{{root_url}}/{{project.name}}/search" method="get">
                <span class="fieldwrap">
                  <input type="text" name="q" id="js-issues-quicksearch" value=""
                         placeholder="Search&hellip;"
                         data-hotkey="/"
                         tabindex="1"
                         data-url="{root_url}}/{{project.name}}/quicksearch" />
                  <button type="submit" class="minibutton empty-icon"><span class="mini-icon mini-icon-search-input"></span></button>
                </span>
                <div class="autocomplete-results"></div>
                <div class="quicksearch-loading" style="display: none">
                  <a class="selected initial autocomplete-header autocomplete-item" href="{root_url}}/{{project.name}}/search">See all results</a>
                </div>
              </form>
            </div>
            <div class="tabnav-widget ">
              <a href="{root_url}}/{{project.name}}/new" class="minibutton bigger js-new-issue-button" data-hotkey="c">New Issue</a>
            </div>
          </div>

          <div class="tabnav-tab selected issues-list-actions context-menu-container">
            <p id="project_button" class="minibutton dropdown-button">McNeel Issue Tracker - {{product}}</p>
              <div class="context-pane label-context">
                <a class="close"><span class="mini-icon mini-icon-remove-close"></span></a>
                <div class="context-title">Projects</div>
                <div class="context-body">
                  <ul class="color-label-list filter-list small">
{% for project in projects %}
                    <li><a href="{{root_url}}/{{project.name}}" class="filter-item color-label">{{ project.friendly_name }}</a></li>
{% endfor %}
                  </ul>
                </div>
              </div>
          </div>
        </div>

        <div class="columns browser context-loader-container">
          <div class="column sidebar issues-list-sidebar">
                  <ul class="filter-list">
                    <li>
                      <a href="{{root_url}}/{{active_project}}" class="filter-item {% if user_anyone %}selected{% endif %}">
                        <span class="count">65</span> Owned by anyone</a>
                    </li>
                    <li>
                      <a href="{{root_url}}/{{active_project}}/owner/{{userlogin}}" class="filter-item {% if user_owner %}selected{% endif %}">
                        <span class="count">8</span> Owned by {{user}}</a>
                    </li>
                    <li>
                      <a href="{{root_url}}/{{active_project}}/created_by/{{userlogin}}" class="filter-item {% if user_creator %}selected{% endif %}">
                        <span class="count">17</span> Created by {{user}}</a>
                    </li>
                  </ul>
                  <div class="rule"></div>
                  <div class="issues-list-actions context-menu-container">
                    <a id="release_target_button" class="minibutton dropdown-button">No release target filter</a>
                      <div class="context-pane">
                        <a class="close js-menu-close"><span class="mini-icon mini-icon-remove-close"></span></a>
                        <div class="context-title">Release target filter</div>
                        <div class="context-body pane-selector js-navigation-container">
                          <a href="/mcneel/rhinocommon/issues?milestone=none&amp;page=1&amp;state=closed" class="js-navigation-item selector-item milestone">
                            <h4><span class="mini-icon mini-icon-confirm"></span> Issues with no release target</h4>
                          </a>
                        </div>
                      </div>
                  </div>
                  <div class="rule"></div>
                  <div class="js-editable-labels-container">
                  <ul class="js-color-label-list filter-list color-label-list small js-editable-labels-show" data-pjax>
                    <h4>Tags</h4>
{% for tag in tags %}
                      <li>
                          <a href="/mcneel/rhinocommon/issues?labels=bug&amp;page=1&amp;state=closed" class="filter-item color-label  labelstyle-e10c02" data-label="bug" rel="nofollow">
                              <span class="count">{{tag.issuecount}}</span>
                              <span class="color" style="background-color: #{{tag.color}}">&nbsp;</span>
                              <span class="name">{{tag.name}}</span>
                              <span class="mini-icon mini-icon-remove-close"></span>
                          </a>
                      </li>
{% endfor %}
                  </ul>

                  <ul class="js-color-label-list filter-list color-label-list small editable js-editable-labels-edit" style="display:none">
                    <h4>Edit Tags</h4>
{% for tag in tags %}
                    <li class="context-menu-container label labelstyle-e10c02 js-menu-container">
                      <div class="filter-item color-label">
                        <span class="color js-color-picker js-menu-target" style="background-color: #{{tag.color}}"><a href="javascript:;">&nbsp;</a></span>
                        <span class="delete"><a href="/mcneel/rhinocommon/issues/labels/104525" data-method="delete"><span class="mini-icon mini-icon-remove-close"></span></a></span>
                        <span class="name js-color-picker js-menu-target"><a href="#rename">{{tag.name}}</a></span>
                      </div>
                      <div class="context-pane edit-label-context js-menu-content">
                      <div class="context-body edit-color-label-form">
                        <form accept-charset="UTF-8" action="/mcneel/rhinocommon/issues/labels/{{tag.name}}" class="edit_label" id="edit_label_104525" method="post">
                          <div style="margin:0;padding:0;display:inline">
                            <input name="_method" type="hidden" value="put" />
                            <input name="authenticity_token" type="hidden" value="5ph30lzhGOPyKWv0dc3hj/u8F85Spt3vDN6DgYCMiro=" />
                          </div>
                          <div class="fieldWithErrors"><input id="label_name" name="label[name]" size="30" type="text" value="{{tag.name}}" /></div>
                          <ul class="color-chooser js-color-chooser">
                            <li>
                              <span class="color-cooser-color js-color-cooser-color labelstyle-444444 ">
                                <label>
                                  <span class="mini-icon mini-icon-confirm"></span>
                                  <div class="fieldWithErrors"><input id="label_color_444444" name="label[color]" type="radio" value="444444" /></div>
                                </label>
                              </span>
                            </li>
                            <li>
                              <span class="color-cooser-color js-color-cooser-color labelstyle-DDDDDD ">
                                <label>
                                  <span class="mini-icon mini-icon-confirm"></span>
                                  <div class="fieldWithErrors"><input id="label_color_dddddd" name="label[color]" type="radio" value="DDDDDD" /></div>
                                </label>
                              </span>
                            </li>
                            <li>
                              <span class="color-cooser-color js-color-cooser-color labelstyle-e10c02 selected">
                                <label>
                                  <span class="mini-icon mini-icon-confirm"></span>
                                  <div class="fieldWithErrors"><input checked="checked" id="label_color_e10c02" name="label[color]" type="radio" value="{{tag.color}}" /></div>
                                </label>
                              </span>
                            </li>
                            <li>
                              <span class="color-cooser-color js-color-cooser-color labelstyle-d7e102 ">
                                <label>
                                  <span class="mini-icon mini-icon-confirm"></span>
                                  <div class="fieldWithErrors"><input id="label_color_d7e102" name="label[color]" type="radio" value="d7e102" /></div>
                                </label>
                              </span>
                            </li>
                            <li>
                              <span class="color-cooser-color js-color-cooser-color labelstyle-02e10c ">
                                <label>
                                  <span class="mini-icon mini-icon-confirm"></span>
                                  <div class="fieldWithErrors"><input id="label_color_02e10c" name="label[color]" type="radio" value="{{tag.color}}" /></div>
                                </label>
                              </span>
                            </li>
                            <li>
                              <span class="color-cooser-color js-color-cooser-color labelstyle-02d7e1 ">
                                <label>
                                  <span class="mini-icon mini-icon-confirm"></span>
                                  <div class="fieldWithErrors"><input id="label_color_02d7e1" name="label[color]" type="radio" value="02d7e1" /></div>
                                </label>
                              </span>
                            </li>
                            <li>
                              <span class="color-cooser-color js-color-cooser-color labelstyle-0b02e1 ">
                                <label>
                                  <span class="mini-icon mini-icon-confirm"></span>
                                    <div class="fieldWithErrors"><input id="label_color_0b02e1" name="label[color]" type="radio" value="0b02e1" /></div>
                                </label>
                              </span>
                            </li>
                            <li>
                              <span class="color-cooser-color js-color-cooser-color labelstyle-e102d8 ">
                                <label>
                                  <span class="mini-icon mini-icon-confirm"></span>
                                    <div class="fieldWithErrors"><input id="label_color_e102d8" name="label[color]" type="radio" value="e102d8" /></div>
                                </label>
                              </span>
                            </li>
                          </ul>

                          <div class="custom-color js-custom-color-field">
                            <p class="optional"><a href="#">Custom color</a></p>
                            <span class="field" style="display:none">
                              <input type="text" class="hexfield" placeholder="e10c02" maxlength="6" />
                              <div class="fieldWithErrors"><input class="js-ghost-custom-color" id="label_color_e10c02" name="label[color]" style="display:none" type="radio" value="{{tag.color}}" /></div>
                            </span>
                          </div>

                          <div class="form-actions">
                            <button type="submit" class="minibutton">Save Changes</button>
                          </div>
                        </form>
                      </div>
                    </div>
                    </li>
{% endfor %}
                  </ul>

                  <p class="clearfix"><a href="#" class="minibutton js-manage-labels" id="manage-labels">Edit Tags</a></p>
                </div>

                  <div class="edit-color-label-form js-new-label-form">
                    <form accept-charset="UTF-8" action="/mcneel/rhinocommon/issues/labels" id="new_label_form" method="post">
                    <div style="margin:0;padding:0;display:inline"><input name="authenticity_token" type="hidden" value="5ph30lzhGOPyKWv0dc3hj/u8F85Spt3vDN6DgYCMiro=" /></div>
                    <input type="text" name="label" class="new-label-namefield js-label-field" placeholder="New tag name" data-hotkey="l" />
                    <ul class="color-chooser js-color-chooser js-color-chooser-fade-in" style="display:none">
                      <li>
                        <span class="color-cooser-color js-color-cooser-color labelstyle-444444 selected">
                          <label>
                            <span class="mini-icon mini-icon-confirm"></span>
                            <input type="radio" name="color" value="444444" checked=&quot;checked&quot; />
                          </label>
                        </span>
                      </li>
                      <li>
                        <span class="color-cooser-color js-color-cooser-color labelstyle-DDDDDD ">
                          <label>
                            <span class="mini-icon mini-icon-confirm"></span>
                            <input type="radio" name="color" value="DDDDDD"  />
                          </label>
                        </span>
                      </li>
                      <li>
                        <span class="color-cooser-color js-color-cooser-color labelstyle-e10c02 ">
                          <label>
                            <span class="mini-icon mini-icon-confirm"></span>
                            <input type="radio" name="color" value="e10c02"  />
                          </label>
                        </span>
                      </li>
                      <li>
                        <span class="color-cooser-color js-color-cooser-color labelstyle-d7e102 ">
                          <label>
                            <span class="mini-icon mini-icon-confirm"></span>
                            <input type="radio" name="color" value="d7e102"  />
                          </label>
                        </span>
                      </li>
                      <li>
                        <span class="color-cooser-color js-color-cooser-color labelstyle-02e10c ">
                          <label>
                            <span class="mini-icon mini-icon-confirm"></span>
                            <input type="radio" name="color" value="02e10c"  />
                          </label>
                        </span>
                      </li>
                      <li>
                        <span class="color-cooser-color js-color-cooser-color labelstyle-02d7e1 ">
                          <label>
                            <span class="mini-icon mini-icon-confirm"></span>
                            <input type="radio" name="color" value="02d7e1"  />
                          </label>
                        </span>
                      </li>
                      <li>
                        <span class="color-cooser-color js-color-cooser-color labelstyle-0b02e1 ">
                          <label>
                            <span class="mini-icon mini-icon-confirm"></span>
                            <input type="radio" name="color" value="0b02e1"  />
                          </label>
                        </span>
                      </li>
                      <li>
                        <span class="color-cooser-color js-color-cooser-color labelstyle-e102d8 ">
                          <label>
                            <span class="mini-icon mini-icon-confirm"></span>
                            <input type="radio" name="color" value="e102d8"  />
                          </label>
                        </span>
                      </li>
                    </ul>
                    <div class="form-actions js-color-chooser-fade-in" style="display:none">
                      <div class="custom-color js-custom-color-field">
                        <p class="optional"><a href="#">Custom color</a></p>
                        <span class="field" style="display:none">
                          <input type="text" class="hexfield" maxlength="6" placeholder="FF0000" />
                          <input type="radio" id="custom_label_color_field" name="color" value="" style="display:none" />
                        </span>
                      </div>
                      <button type="submit" class="minibutton">Create Tag</button>
                    </div>
                  </form>
                  </div>
                </div>

                <div class="column main">
                  <div class="chromed-list-browser">
                    <div class="list-browser-filterbar" data-pjax>
                      <ul class="list-browser-filter-tabs js-selectable-list">
                        <li>
                          <a href="/mcneel/rhinocommon/issues?page=1&amp;state=open" data-filter="open" class="filter-tab js-activate-link js-selectable-item ">4931 open</a>
                        </li>
                        <li>
                          <a href="/mcneel/rhinocommon/issues?page=1&amp;state=closed" data-filter="closed" class="filter-tab js-activate-link js-selectable-item selected">652 untested</a>
                        </li>
                        <li>
                            <a href="/mcneel/rhinocommon/issues?page=1&amp;state=closed" data-filter="closed" class="filter-tab js-activate-link js-selectable-item">63 undocumented</a>
                        </li>
                        <li>
                            <a href="/mcneel/rhinocommon/issues?page=1&amp;state=closed" data-filter="closed" class="filter-tab js-activate-link js-selectable-item">32411 closed</a>
                        </li>
                      </ul>
                      <ul class="list-browser-sorts">
                        <li class="desc js-activate-link" data-sort="created">
                          <a href="/mcneel/rhinocommon/issues?page=1&amp;sort=created&amp;state=closed" class="js-sortable-header sort-type" rel="nofollow">Submitted</a>
                        </li>
                        <li class=" js-activate-link" data-sort="updated">
                          <a href="/mcneel/rhinocommon/issues?page=1&amp;sort=updated&amp;state=closed" class="js-sortable-header sort-type" rel="nofollow">Priority</a>
                        </li>
                      </ul>
                    </div>
                    <div class="context-loader">Sending Request&hellip;</div>
                    <div class="error" style="display:none">
                      <p>There was an error serving your request</p>
                    </div>
                    <div class="issues issues-list js-issues-list context-loader-overlay js-navigation-container js-selectable-issues" id="js-active-navigation-container">
                      <div class="issues-list-actions">
                        <div class="pagination" data-pjax-preserve-scroll="true" data-pjax="true">
                          <span class="disabled">&laquo; Previous</span>
                          <span class="current">1</span>
                          <a href="/mcneel/rhinocommon/issues?page=2&amp;state=closed" rel="next">2</a>
                          <a href="/mcneel/rhinocommon/issues?page=3&amp;state=closed">3</a>
                          <a href="/mcneel/rhinocommon/issues?page=2&amp;state=closed" hotkey="l" rel="next">Next &raquo;</a>
                        </div>
                        <div class="js-buttons button-wrap deactivated">
                          <a href="#" class="minibutton js-issues-list-close" data-hotkey="e" data-url="/mcneel/rhinocommon/issues/reopen">Reopen</a>
                          <div id="tag_button" class="context-menu-container js-menu-container">
                            <a class="minibutton js-menu-target dropdown-button" data-url="/mcneel/rhinocommon/issues/label">Tag</a>
                            <div id="tag_button_dlg" class="js-color-label-context context-pane label-context js-menu-content">
                              <a class="close js-menu-close">
                                <span class="mini-icon mini-icon-remove-close"></span>
                              </a>
                              <div class="context-title">Assign or unassign tags</div>
                              <div class="context-body">
                                <ul class="js-color-label-list color-label-list filter-list small" data-url="/mcneel/rhinocommon/issues/label">
{% for tag in tags %}
                                    <li data-name="{{tag.name}}">
                                    <a class="filter-item color-label labelstyle-{{tag.color}}">
                                      <input style="display: none" type="checkbox" value="bug" id="issue_labels_{{tag.name}}" name="issue[labels][]">
                                        <span class="color" style="background-color: #{{tag.color}}">&nbsp;</span>
                                        <span class="name">{{tag.name}}</span>
                                    </a>
                                  </li>
{% endfor %}
                                </ul>
                                <div class="rule"></div>
                                <button class="minibutton update-labels">Update</button>
                              </div>
                            </div>
                          </div>
                          <div class="context-menu-container js-menu-container js-context-menu">
                            <a href="javascript:;" class="minibutton js-menu-target dropdown-button">Owner</a>
                            <div class="context-pane assignee-assignment-context js-assignee-context js-menu-content">
                              <a href="javascript:;" class="close js-menu-close">
                                <span class="mini-icon mini-icon-remove-close"></span>
                              </a>
                              <div class="context-title">Set owner</div>
                              <div class="context-body pane-selector user-selector">
                                <div class="filterbar">
                                  <input type="text" id="assignee-context-filter-field" class="js-navigation-enable" data-filterable="fuzzy">
                                </div>
                                <ul class="js-navigation-container" data-filterable-for="assignee-context-filter-field">
                                  <li class="selector-item clear-selector-item js-navigation-item js-navigation-target js-not-filterable clear">
                                    <label>
                                      <input data-url="/mcneel/rhinocommon/issues/assign" id="assignment_assignee_none" name="assignment[assignee]" type="radio" value="none" />
                                        <h4><span class="mini-icon mini-icon-remove-close"></span> Clear owner</h4>
                                    </label>
                                  </li>
{% for collaborator in collaborators %}
                                  <li class="selector-item js-navigation-item js-navigation-target">
                                      <label>
                                          <input data-url="/mcneel/rhinocommon/issues/assign" id="assignment_assignee_{{collaborator.login}}" name="assignment[assignee]" type="radio" value="{{collaborator.login}}" />
                                            <h4>
                                                <span class="mini-icon mini-icon-confirm"></span>
                                                <span class="avatar"><img height="18" src="{{collaborator.avatar_url}}" width="18" /></span>
                                                {{collaborator.login}}
                                                <small>{{collaborator.name}}</small>
                                            </h4>
                                        </label>
                                    </li>
{% endfor %}
                                </ul>
                              </div>
                            </div>
                          </div>
                          <div class="context-menu-container js-menu-container">
                            <a href="javascript:;" class="minibutton js-menu-target dropdown-button">Release Target</a>
                            <div class="context-pane milestone-assignment-context js-milestone-context js-menu-content">
                              <a href="javascript:;" class="close js-menu-close"><span class="mini-icon mini-icon-remove-close"></span></a>
                              <div class="context-title">Set release target</div>
                              <div class="context-body pane-selector milestone-selector js-filterable-milestones js-navigation-container" data-issue-numbers="">
                                <form accept-charset="UTF-8" action="/mcneel/rhinocommon/issues/milestone" method="post">
                                  <div style="margin:0;padding:0;display:inline"><input name="authenticity_token" type="hidden" value="5ph30lzhGOPyKWv0dc3hj/u8F85Spt3vDN6DgYCMiro=" /></div>
                                  <div class="filterbar">
                                    <input type="text" id="context-milestone-filter-field" class="milestone-filter js-navigation-enable" placeholder="Filter milestones" />
                                    <ul class="tabs">
                                      <li><a href="#" data-filter="open" class="selected">Open</a></li>
                                      <li><a href="#" data-filter="closed">Closed</a></li>
                                    </ul>
                                  </div>
                                  <div class="selector-item for-selected clear js-navigation-item js-navigation-target">
                                    <input id="milestone_clear" name="milestone" type="radio" value="clear" />
                                    <h4 class="clear-text"><span class="mini-icon mini-icon-remove-close"></span> Clear this release target</h4>
                                  </div>
                                  <div class="no-results" style="display:none">No release targets to show</div>
                                  <div class="selector-item new-milestone-item js-navigation-item js-navigation-target" style="display:none">
                                    <h4>Create &amp; assign to a new release target</h4>
                                    <p class="milestone-title"></p>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <table>
{% for issue in issues %}
                        <tr id="issue_{{issue.number}}" class="js-list-browser-item list-browser-item  read closed js-navigation-item">
                          <td class="read-status">
                            <span title="Read" class="mini-icon mini-icon-mail-status read"></span>
                          </td>
                          <td class="select-toggle">
                            <input type="checkbox" class="select-toggle-check" name="issues[]" value="{{issue.number}}" />
                          </td>
                          <td class="number">
                            #{{issue.number}}
                          </td>
                          <td class="info">
                            <div class="info-wrapper">
                              <h3>
                                <a href="/mcneel/rhinocommon/issues/{{issue.number}}" class="js-navigation-open">
                                {{issue.title}}
                                </a>
                              </h3>
                              <p>by <strong><a href="/{{issue.user.login}}">{{issue.user.login}}</a></strong>
                                <time class="js-relative-date" datetime="{{issue.created_at}}" title="{{issue.created_at}}">
                                </time>
                              </p>
                              <div class="list-browser-bottom-right-info"></div>
                            </div>
                          </td>
                        </tr>
{% endfor %}
                      </table>

                      <div class="list-browser-footer">
                        <span class="footer-text">
                          25 untested issues in this view
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
  </body>
</html>

